apiVersion: apps/v1
kind: Deployment
metadata:
  name: vibe-media
  labels:
    app: vibe-media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vibe-media
  template:
    metadata:
      labels:
        app: vibe-media
    spec:
      containers:
        - name: web
          image: dzhemaptula/vibe-media:0.7.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: DJANGO_SETTINGS_MODULE
              value: social_media.settings
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"
